[2020-10-28 10:15] MicheleRezk opened #1 "Creating Integration Tests for Category Endpoint"

[2020-10-28 10:18] MicheleRezk opened #2 "Create LoggerHandler for .Net Core SDK V2"

[2020-10-30 10:14] #2 closed, assigned to MicheleRezk

[2020-11-02 09:27] MicheleRezk opened #5 "Creating Error Handler for the .Net SDK v2"
Creating Error Handler for the .Net SDK v2

[2020-11-03 10:11] #1 closed, assigned to MicheleRezk

[2020-11-04 10:25] MicheleRezk opened #7 "Solving Warnings in the new .Net SDK Core V2"
Solving Warnings in the new Core SDK Solution

[2020-11-16 10:09] #5 closed, assigned to MicheleRezk

[2020-11-17 15:43] #7 closed, assigned to MicheleRezk

[2020-11-17 15:46] ashishhk opened #11 ".NET Core Refactor EnumAsString to Be like in Java SDK"
Timebox: until 18th November

[2020-11-17 22:28] ashishhk opened #12 ".NET Serialization and Deserialization"
.NET V2 Serialization and Deserialization for money and product attributes.

* Money

[2020-11-17 22:29] ashishhk opened #13 ".NET Create Integration Tests"
Create Integration Tests for

- [x] productProjection search
- [x] Product Image Upload
- [x] Fix Search Query params like filterQuery to be filter.query

[2020-12-17 09:57] #11 closed, assigned to MicheleRezk

[2020-12-17 09:57] #12 closed, assigned to MicheleRezk

[2020-12-18 12:04] #13 closed, assigned to MicheleRezk

[2021-02-03 10:10] ashishhk opened #21 "Dotnet Core SDK Release with Import API And ML"
- [x] Include ML and Import API SDKs into the beta release
- [x] update ReadMe file to show how to use Import Api and ML SDKs
- [x] update ReadMe file to show how to use multiple clients with different token providers

[2021-03-12 15:45] MicheleRezk opened #22 "Deserialize Exception returned from platform to ErrorResponse"
Deserialize Exception returned from platform to ErrorResponse for more info like ConcurrentModificationException, to know the current version

[2021-03-16 11:46] #22 closed

[2021-03-17 14:34] #21 closed

[2021-03-17 14:35] MicheleRezk opened #25 "Adding serialization and deserialization tests"
Adding serialization and deserialization tests for

- [x] Custom Fields
- [x] Custom Attributes

[2021-04-15 08:19] muckmandruck opened #43 "Generic CustomObject"
In the v1 version of the SDK customObject was a generic type (https://github.com/commercetools/commercetools-dotnet-sdk/blob/master/commercetools.NET/CustomObjects/CustomObject.cs#L13)

is it possible to make customObject generic again?

[2021-04-21 08:09] ashishhk opened #45 "Integration Tests for ME endpoints"
- [x] Write one or more integration tests for ME endpoint.
- [x] Part of CI.

https://wiki.commercetools.com/display/CTCLIENTS/Dotnet+Core+SDK+AutoGenerated

[2021-04-28 10:59] #25 closed

[2021-05-18 07:56] ashishhk opened #62 "Generated .NET SDK Unit tests - Test Coverage"
As part of Test Coverage improvement and to feel confident with 100% automation in code generation we aim to improve our test coverage for generated SDKs

**AC**
- [x] Unit Tests for API Request Builders

[2021-05-25 06:46] MedAnd opened #63 "Inconsistent ApiBaseAddress and AuthorizationBaseAddress format"
**Describe the bug**
Inconsistent application of BaseAddress format, between ApiBaseAddress and AuthorizationBaseAddress. For example, AuthorizationBaseAddress requires a trailing "/" otherwise an exception is thrown:

`System.Net.Http.HttpRequestException: 'No such host is known.'`

**To Reproduce**
See code snippet below.

**Expected behavior**
Both the ApiBaseAddress and AuthorizationBaseAddres

[2021-05-25 14:20] #63 closed

[2021-05-25 14:29] MicheleRezk commented on #63
@MedAnd Thanks for reporting this, we were already having RegularExpression Attribute validation for AuthorizationBaseAddress and ApiBaseAddress to make sure urls ends with slash, it was already handled [here](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/15732ab88934890ba71ce35433aff0b075fbe1c0/commercetools.Sdk/commercetools.Base.Client/DependencyInjectionSetup.cs#L73),

[2021-06-01 11:13] boro2g opened #65 "Price ValidFrom and ValidTo don't allow nullable values, and hence default to {01/01/0001 00:00:00}"
In the IPriceImport interface, the ValidFrom and ValidTo datetimes force a value, which defaults to 01/01/0001 00:00:00 if you don't set one in your code. This gets imported as
![image](https://user-images.githubusercontent.com/13680499/120314002-a90c2c00-c2d2-11eb-9d01-afd9bed4d7ce.png)
rather than the values being empty

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/5dc8

[2021-06-01 12:59] boro2g commented on #65
The same thing applies to `ExpectedDelivery` on `IInventoryImport`

[2021-06-09 10:09] ashishhk commented on #65
We'll take a look at this issue next

[2021-06-22 10:29] boro2g commented on #65
@MicheleRezk @ashishhk  - how are you getting on with the issue? Is it a big one to fix?

[2021-06-22 11:21] MicheleRezk commented on #65
@boro2g We're working on it, it will be solved ASAP

[2021-06-22 15:02] MicheleRezk commented on #65
@boro2g We solved it and created a new release with version 0.6.0

[2021-06-22 15:12] boro2g commented on #65
Great thanks, will give it a test now

[2021-06-22 16:01] boro2g commented on #65
![image](https://user-images.githubusercontent.com/13680499/122960512-642c6000-d37b-11eb-8c22-36dd5b5c9223.png)
Version 0.6.0 looks much better - thanks. How do you want to leave the issue, should I close or do you?

[2021-06-22 16:59] #65 closed

[2021-06-22 17:01] MicheleRezk commented on #65
@boro2g I just closed it, thanks for reporting this issue

[2021-06-28 07:02] theburhan opened #67 "High precision cart"
**Describe the bug**
totalPrice of cart is always with type centPrecision

**To Reproduce**
Add one lineitem in the cart with type highPrecision

**Expected behavior**
totalPrice of the cart should be sum of highPrecision?

**Screenshots/Code snippet**
[code]
**Stack information:**
 - dotnet: [e.g. Core 5.0]
 - SDK: [e.g. v2]

[2021-06-28 07:45] jenschude commented on #67
Hi,

this is not a bug of the SDK. It's the expected behavior of the cart that high precision prices are rounded as late as possible. Please see also [docs](https://docs.commercetools.com/api/projects/carts#cart-price-precision). For further information you may contact support.

[2021-06-28 08:19] #67 closed

[2021-06-28 08:32] theburhan opened #68 "Custom APIM for commercetools config"
**URi segement gets overwritten for ApiBaseAddress**
The URi segement is replaced by the SDK keeping only the domain name.

**To Reproduce**
Define an API gateway and use "ApiBaseAddress" as https://{{domain}}/api/internal-api/commercetools/, at the time of calling the API let's say product projection, then the final URL composed is https://{{domain}}/{{project-key}}/product-projections/search?sta

[2021-06-28 10:10] MicheleRezk commented on #68
Hello @theburhan,As per [documentation](https://docs.commercetools.com/api/general-concepts), you would select Api Url based on the host Region, so I'm just wondering why would you do a custom API gateway like your example?

[2021-06-28 11:00] theburhan commented on #68
Hi @MicheleRezk, I actually want to decouple dotnet service from CT via custom API gateway for two reasons, first, so that in future if for any reason I want to decommission some services from CT in favour of another external system, then dotnet service won't be affected, I will only have to update the APIM with a different target URL, so APIM here is only treated as proxy call.

Also, I will be u

[2021-06-29 11:20] MicheleRezk opened #70 "OperationStates values are always zero"
**Bug Description**
while getting Import summary, OperationStates values are always zero

[2021-06-29 15:46] #70 closed

[2021-06-30 10:36] theburhan commented on #68
and the second case is, my service will be deployed in VNET which has no access to the internet. So, I want to make proxy call.

[2021-07-12 08:33] MicheleRezk commented on #68
Hi @theburhan,
I already checked the issue and found that we're not replacing the BaseAddress in the client, it will be same as configured in the appsettings.json, please check attached screenshot while debugging it.

![BaseAddress-SDK-V2](https://user-images.githubusercontent.com/30607195/125255916-3728f880-e2fc-11eb-8bea-249c4c9272d7.jpg)

[2021-08-17 09:10] MicheleRezk commented on #68
Hi @theburhan ,

Do you still having an issue or should I close it?

[2021-08-17 09:55] theburhan commented on #68
Hi @MicheleRezk
many thanks for your effort in confirming that, for some reasons, we have decided not to use custom api-gateway, but to call commercetools directly.

So this is no longer an issue, nevertheless like you have mentioned there shouldn't be a problem as the URL's are not written.

[2021-08-17 09:55] #68 closed

[2021-08-23 08:15] MicheleRezk opened #83 "Failed to find the derived type with the specified discriminator value 'OrderLineItemRemoved'"
**Bug Description**
Failed to find the derived type with the specified discriminator value 'OrderLineItemRemoved'.

[2021-09-09 10:11] Glen-Moonpig opened #90 "Missing types for order set shipping method action"
**Is your feature request related to a problem? Please describe.**

Missing types for `OrderSetShippingMethodAction` and `OrderSetCustomShippingMethodAction`.

See [Set ShippingMethod](https://docs.commercetools.com/api/projects/order-edits#set-shippingmethod) and [Set Custom ShippingMethod](https://docs.commercetools.com/api/projects/order-edits#set-custom-shippingmethod).

**Describe the solutio

[2021-09-09 10:17] jenschude commented on #90
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/Generated/Models/OrderEdits/StagedOrderSetShippingMethodAction.cs

[2021-09-09 10:19] jenschude commented on #90
Hi,

they are available. But as they are actions for an order edit they are called [StagedOrderSetShippingMethodAction](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/Generated/Models/OrderEdits/StagedOrderSetShippingMethodAction.cs) and [StagedOrderSetCustomShippingMethodAction](https://github.com/commercetools/commercetools-d

[2021-09-09 10:19] #90 closed

[2021-09-14 08:47] #62 closed

[2021-09-20 09:55] codewode opened #93 "Anonym token and retrieving existing cart"
Hi - How do I let TokenProvider know _**not**_ to generate a new token, instead use the one which is provided to the method parameter. I use the following code, but that still generates a new token.

[code]

Looking forward to your answer, thanks

[2021-09-20 13:36] codewode commented on #93
found a solution, it required me a bit of extension to the API, I created a custom class that implements ITokenProvider and overrides the Token implementation to return the same token which is given in the request payload. and then used the following

[code]

[2021-09-20 13:36] #93 closed

[2021-10-01 18:29] Glen-Moonpig opened #95 "How to provide client with an existing bearer token?"
**Is your feature request related to a problem? Please describe.**

I see I can create a client using a `ClientCredentialsTokenProvider` and a `PasswordTokenProvider`. What if I already have a bearer token and can skip creating one?

**Describe the solution you'd like**

I want to be able to input an existing bearer token that the client can use for the Authorization header.

**Describe alternativ

[2021-10-04 09:42] Glen-Moonpig commented on #93
@codewode would you mind sharing the code for `MyCustomToken`? I am trying to implement the same and it doesn't seem to be working for me. Thanks.

[2021-10-04 10:43] Glen-Moonpig commented on #93
I think I have it working:

[code]

[2021-10-12 18:26] Glen-Moonpig opened #97 "Models for attribute definitions?"
I can get a product attribute like so

[code]

`attribute.Value` is an object. There doesn't seem to be any types I can use for casting the attribute to a [AttributeDefinition](https://docs.commercetools.com/api/projects/productTypes#attributedefinition) with a [AttributeType](https://docs.commercetools.com/api/projects/productTypes#attributetype)

[2021-10-14 07:23] #97 closed, assigned to nobody

[2021-10-14 14:48] D1mitry opened #100 "ProductProjection Search POST request"
**Describe the bug**
`Post(JsonElement? jsonNode)` method of the [ByProjectKeyProductProjectionsSearchRequestBuilder](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/Generated/Client/RequestBuilders/ProductProjections/ByProjectKeyProductProjectionsSearchRequestBuilder.cs)  class has `jsonNode` parameter which later on the `Build

[2021-10-15 19:18] jenschude commented on #100
Updated the generator to correctly support form parameters. Result looks now like this:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/46bc2cfd0b5934751cdb02312365def9ba7bc4a1/commercetools.Sdk/commercetools.Sdk.Api/Generated/Client/RequestBuilders/ProductProjections/ByProjectKeyProductProjectionsSearchPost.cs

[2021-10-15 20:23] jenschude commented on #100
Just issued a new release 2.0.0

[2021-10-15 20:23] #100 closed

[2021-11-05 12:54] MicheleRezk opened #104 "Deserialize ImportOperation: Failed to find the required 'Type' discriminator property error"
**Describe the Bug**
While ImportOperation Deserialization which has error of type "DuplicateAttributeValue", it's failing to deserialize the attribute because it doesn't have type property in the json.

**To Reproduce**
Try to Deserialize the below json to IImportOperation:
{
  "version": 1,
  "importContainerKey": "productsImport",
  "resourceKey": "MG-Iphone11",
  "id": "d2c20ea3-657b-4314-b312

[2021-11-09 09:09] ashishhk opened #106 "DotNET SDK V2 - Documentation Content"
Improve the documentation around Dotnet SDK V2 to improve UX and reduce support question

**Accptance Criteria**

- [x] Try Doxygen for generating dotnet V2 Docs
- [x] Create a first version of generated document as a POC.
- [x] Deploy a final version of the dotnet V2 Docs as Github Page- only generated content. (https://commercetools.github.io/commercetools-dotnet-core-sdk-v2/docs/html/index.html

[2021-11-09 14:00] #104 closed

[2021-11-29 09:09] OlofMoriya opened #114 "missing Discription in PaymentDraft"
The field Description on the PaymentDraft or PaymentMethodInfo is not part of the sdk but there is a field in the merchant center to display it.

**Expected behavior**
It should be possible to add a description for the payment method when creating the payment.

**Screenshots/Code snippet**
![image](https://user-images.githubusercontent.com/13721900/143839009-12c9eb88-134c-4a3a-8090-0166b042cb01.pn

[2021-12-14 08:45] NicolasREY69330 opened #115 "[Question] Deserializing events from a Message Bus"
Hi,

Sorry to create an Issue but currenlty I don't know where to ask my question. Please don't hesitate if we could use another communication channel.

I can't find a documentation nor an example of this, but basically we need to consume commercetools events (from an Azure Message bus topic), deserialize the event/payload to a strongly typed object then process it (we basically plan to forward it

[2021-12-14 08:52] jenschude commented on #115
Hi,

once you setup the subscriptions at commercetools. The platform will sent messages or events to your ServiceBus. If you configured it using the CloudEvents format you can deserialize the payload using any CloudEvents library for dotnet. If you have choosen platform format you should use the SDK Serializer to deserialize the instance to https://github.com/commercetools/commercetools-dotnet-cor

[2021-12-14 08:55] jenschude commented on #115
In case you only need the serializerservice you can use the UseCommercetoolsApiSerialization method:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/DependencyInjectionSetup.cs#L61

And then the ServiceProvider to retrieve a SerializerService instance

[2021-12-14 08:59] NicolasREY69330 commented on #115
Thank you, any chance to have a sample using your tools to consume events ? I'm not familiar with this approach

[2021-12-14 09:30] jenschude commented on #115
Please see

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/cdf19356770c41115b70d44113d18c906be09669/commercetools.Sdk/Tests/commercetools.Api.Serialization.Tests/SerializationFixture.cs#L10-L18

to register the SerializationService to the ServiceProvider and

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/cdf19356770c41115b70d44113d18c906be09669/comm

[2021-12-14 09:59] NicolasREY69330 commented on #115
Thank you for the sample/unit test.

I guess I misunderstood something, looking at the the "Resources/Messages/ResourceCreatedPayload.json" content and the ResourceCreatedDelivery/ResourceUpdatedDelivery/ResourceDeletedDelivery, the event doesn't transport data from the event itself (ie ECST), let's say a ProductCreatedMessage with its productProjection ?

Then is the recommandation to :
- trigger

[2021-12-14 10:18] jenschude commented on #115
If the event holds a Message the `notificationType` will be of type `Message` and the ISubscriptionDelivery will be deserialized correctly as a https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/Generated/Models/Subscriptions/IMessageDelivery.cs

[2021-12-14 10:32] NicolasREY69330 commented on #115
I was missing this part, it's realy clear then. I guess we can apply pattern matching on
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/cdf19356770c41115b70d44113d18c906be09669/commercetools.Sdk/Tests/commercetools.Api.Serialization.Tests/MessagesTests.cs#L124
right ?

[2021-12-14 10:35] jenschude commented on #115
Yes and it will be an instance of these classes:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/cdf19356770c41115b70d44113d18c906be09669/commercetools.Sdk/commercetools.Sdk.Api/Generated/Models/Subscriptions/ISubscriptionDelivery.cs#L9-L13

But you also can pattern match on the Interfaces

[2021-12-14 10:38] NicolasREY69330 commented on #115
Ok ! I guess it will be easier to deal with it once we'll have events to play with on the Bus.

Thank you very much for your time and explanations. If further questions come to me, do I have to reach the another communication channel (Jira, support email ...) ? or Github issue is fine ?

[2021-12-14 10:39] jenschude commented on #115
Questions regarding the SDK itself are fine to be asked at Github :)

[2021-12-14 10:46] NicolasREY69330 commented on #115
Thank you, I close the issue then. Have a good day

[2021-12-14 15:12] NicolasREY69330 commented on #115
@jenschude I'm sorry to bother you again, but I played a bit with the tests from the lib to have a better understanding of does it works, this part is critical for our own integration, so I have few more questions :

Correct me if I'm wrong, but as I understood, in the following test :
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/cdf19356770c41115b70d44113d18c906be09669/c

[2021-12-15 16:02] wehnertb opened #116 "Postman Collection returns data that SDK does not"
When you call the Get Cart By Id endpoint using the Postman Collection, one of the data elements that's returned on LineItems is a "productKey" field.

However, in the SDK, when you call the equivalent API call, this field is not returned, nor is it defined in the ILineItem.cs file (commercetools.Sdk.Api/Generated/Models/Carts/ILineItem.cs).

Right now, I'm storing a custom field on the line item

[2021-12-17 07:15] Vamic opened #117 "Add ContainerAndKey field to UserProvidedIdentifiers"
**Is your feature request related to a problem? Please describe.**
When a custom object is updated, a message gets sent for key-value-document but the ContainerAndKey field is missing from UserProvidedIdentifiers despite existing in the payload.

**Describe the solution you'd like**
ContainerAndKey field added.

**Additional context**
https://docs.commercetools.com/api/message-types#containerandke

[2022-01-05 13:46] NicolasREY69330 commented on #115
Hi @jenschude
We plan to start the integration POC next week, we are currenlty following the 'Functional Training Session' (with Calvin and Michael).
Well do I need to switch to a more 'official' channel, as we bought an official licence ? Or is it part of the '.net SDK Training' that I should ask my questions ? Indeed we would like to avoid bad practices and follow your guidelines as much as poss

[2022-01-08 19:46] jenschude commented on #115
Oh man I now took a closer look and found a hole in the logic as the Message is not unmarshalled when using the MessageDelivery. Next week we can fix this and also extend the tests with some different use cases. Nevertheless the deserialization depends on the type of the Subscription.

[2022-01-10 08:54] jenschude commented on #115
Btw when using Azure you could also use the CloudEvents format instead of the platform format. Especially as Azure already comes with native CloudEvents support. The `data` payload of the Event would then be the Message and you could use the SerializerService to deserialize it to the respective class instance

[2022-01-10 10:40] NicolasREY69330 commented on #115
@jenschude

Thank you for your feedback (and running PR).
Well with this fix, when do you try to deserizalize the Azure Service Bus raw string as `ISubscriptionDelivery ` rather than `IMessage ` ? Should we inspect the raw string on some existing field to choose ?
We basically need the event carrying data that has been produced from the mutation in CT.

It's not clear to me in which case you use o

[2022-01-10 10:48] jenschude commented on #115
This is what the CloudEvent payload for a Message subscription would look like.

To my knowlegde there is a CloudEvent library available from Azure which could be used to deserialize this payload. The data field itself could then be mapped to the IMessage interface, as the delivery related fields are included in the cloud event itself.

[code]

[2022-01-10 10:54] NicolasREY69330 commented on #115
Ok we'll try both approachs : raw string and CloudEvent messages and see what best suits our needs.
But both should produces the same deserialized object, doesn't it ?

[2022-01-10 11:37] jenschude commented on #115
They should as the json structure is the same.

The nice thing about the CloudEvents format would be, that you could route the events in the Azure Event Grid natively.

[2022-01-10 12:30] NicolasREY69330 commented on #115
Yes, and it gives a formalism.
Well the 'auto routing' events is a great, but my final sink is Kafka :-/

[2022-01-10 13:06] #115 closed

[2022-01-10 13:11] jenschude commented on #115
Released 2.1.1 with the fix. Should be available in some minutes

[2022-01-13 15:04] BielsasBucket opened #121 "When trying to get a list of Baskets for a Store return a useful type (not object)"
**Is your feature request related to a problem? Please describe.**
I am trying to get a list of baskets for a store, using `ByProjectKeyInStoreKeyByStoreKeyCartsGet` but the `ExecuteAsync()` returns a `Task<Object>`

**Describe the solution you'd like**
I would like this to return a `ICartPagedQueryResponse` like for `ByProjectKeyCartsGet`

**Describe alternatives you've considered**
I have tried

[2022-01-13 17:02] BielsasBucket opened #122 "WithExpand not working as expected for ICart"
**Describe the bug**
When using `withExpand` the properties selected are NOT expanded as expected, could be doing this wrong.

**To Reproduce**
Running the following....

[code]

**Expected behavior**
`DiscountCodes `and `PaymentInfo.Payments` are properties on `ICart`  so should be expanded

**Screenshots/Code snippet**
If applicable, add screenshots or code samples to help explain your problem.

[2022-01-13 18:55] BielsasBucket commented on #122
Figures this out. User error. Sorry

[2022-01-13 18:55] #122 closed

[2022-01-13 20:10] BielsasBucket commented on #121
Created a pull request with what I think is needed. https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/pull/123

This is urgent for us, so speedy review/resolution would be most welcome

[2022-01-14 07:45] jenschude commented on #121
Triggered the release. Should be available in some minutes

Please see https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/releases/tag/2.2.0

[2022-01-14 07:45] #121 closed

[2022-01-17 17:22] wehnertb commented on #116
I see with release 2.2.0 you are now returning the ProductKey - THANK YOU!

[2022-01-17 17:22] #116 closed

[2022-01-18 12:51] xferra opened #126 "Common interface for ApiMethods"
**Is your feature request related to a problem? Please describe.**

Hello,
I'm in the progress of migrating from v1 to v2.
When using v1 I was able to perform generic operations on different Objects using CommandBuilder<>. As for now - different API methods have their own (the same) implementation for Query, Limit, Offset, etc., and there is no common interface for that.

Example:
[Carts.Limit](ht

[2022-01-28 07:27] lance-rb2 opened #129 "A bug happens when a cart set shippingAddress"
**Describe the bug**
The field "POBox" don't be saved when a cart set shippingAddress. The other fields of address are ok.

**To Reproduce**
a cart set shippingAddress.

**Expected behavior**
The value of "POBox" should be stored.

**Screenshots/Code snippet**
![image](https://user-images.githubusercontent.com/89450063/151503578-9912a7ef-d914-42ce-8c1b-a2a7d2ed614f.png)
![image](https://user-image

[2022-01-28 08:34] jenschude commented on #129
Nice catch!

Seems that the naming of the json field clashes with the default camel case naming policy. I opened a PR which adds a manual field name mapping to fix the issue

[2022-01-28 09:28] #129 closed

[2022-01-28 09:30] jenschude commented on #129
Fixed with version 2.4.0

[2022-01-28 13:26] jenschude commented on #126
With 26e4fc2 we introduced now common interfaces. Will be added to the next release

[2022-02-07 01:59] lance-rb2 commented on #129
Nice

[2022-02-07 13:41] jenschude commented on #114
Actually I don't know which field of the payment models this represents as according to the docs there is no description field in payments at all. But the fields specified here https://docs.commercetools.com/api/projects/payments are supported.

[2022-02-22 13:51] andrewchaa opened #138 "OrderSearchRequest's Query is "string" typed and causes 400 Bad Request"
**Describe the bug**
As the type of `Query` of `OrderSearchRequest` is string, the query get serialized into string content like the below.

[code]

**To Reproduce**

[code]

This call returns with 400 Bad Request

**Expected behavior**
It should send a valid json as POST request body

[code]

**Screenshots/Code snippet**
If applicable, add screenshots or code samples to help explain your problem.

[2022-02-22 20:00] jenschude commented on #138
It's a nice catch. I opened a PR in the upstream repository, so that the type can be fixed. As the query body is not yet completely modelled the query field will be an empty interface which means that for a query a class has to be defined.

I'm still not pleased with this. So could be that we have to change this in the future.

[2022-02-22 23:11] andrewchaa commented on #138
I agree that the fix on the upstream is more elegant.

[2022-02-23 07:49] jenschude commented on #138
Fixed with 2.5.1

[2022-03-09 15:03] mortenbock opened #140 "Configuring a Proxy for the HttpClient"
The SDK has taken the responsibility of creating the HttpClient used for the API communication.

It would be nice with an option to set a proxy server for this client, and I cannot see how that would be possible with the current implementation.

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/84f6a8c91fc58fa964dd09d071dccdb5632aa978/commercetools.Sdk/commercetools.Base.Clien

[2022-03-29 11:06] ijn-kruso commented on #95
Any news on this issue?

[2022-03-29 12:19] xferra opened #141 "The wrong type of TaxCategory SubRate Amount"
**Describe the bug**
I suppose there is a typo in data type.

V1 SDK is `decimal`
https://github.com/commercetools/commercetools-dotnet-core-sdk/blob/95538255acd49e16a37f5d809dce03b865b80b2b/commercetools.Sdk/commercetools.Sdk.Domain/TaxCategories/SubRate.cs#L6

V2 SDK is `double`
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/ecc50189cc277ddd07f2c04dbded8c4a4ac39835/commer

[2022-04-06 09:12] lance-rb2 opened #143 "It does not work about sorting by scopedPrice in ProductProjectionSearch"
**Describe the bug**
It does work about sorting by scopedPrice in ProductProjectionSearch

**To Reproduce**
1. set PriceCustomerGroup、PriceCurrency、PriceCountry、PriceChannel for ProductProjectionSearch
2. set sort to **variants.scopedPrice.value asc**
3. call the ProductProjectionSearch

**Expected behavior**
the result of ProductProjectionSearch can be sorted by scopedPrice

**Screenshots/Code sn

[2022-04-06 11:49] csi-lund opened #145 "Project Key and WithApi"
Hi

We are migrating from SDK v1 to SDK 2 and was a bit confused by the the switch to UseAPI().WithProjectKey("...").
In SDK v1 and SDK v2 the project key is specified within the appsettings. Which is mentioned within getting started.

In SDK v2 the project key needs to be set every time either via withApi wor WithProjectKey meaning that instead of writing
var a = await _commercetoolsClient.Builde

[2022-04-06 12:32] jenschude commented on #145
Hi

this is what the ProjectApiRoot is for. Please see https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/663575ec1afce5a9f3e159702d514c8f1d66c65c/commercetools.Sdk/commercetools.Sdk.Api/Client/ApiFactory.cs#L15-L19

We may have to adjust the README as I just saw

[2022-04-12 10:05] jenschude commented on #141
Hi,

sorry we missed this issue. Will open a PR in the upstream repository to fix it

[2022-04-12 11:29] jenschude commented on #141
A fix has been applied also to all other fields of type double.

We released this as a patch version of the latest major release. Please see:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/releases/tag/3.0.1

[2022-04-12 20:40] jenschude commented on #141
Just released 3.0.2 with some additional fixes of number types

[2022-04-12 20:40] #141 closed

[2022-04-19 08:29] #45 closed

[2022-04-20 07:25] lance-rb2 commented on #143
Hello, could the products be sorted by scopedPrice in ProductProjectionSearch?

[2022-04-20 13:39] MicheleRezk commented on #143
Hello @lance-rb2 , I think you have to adjust the sort expression to be like:
variants.scopedPrice.value.centAmount instead of variants.scopedPrice.value
I tried it on [api playground](https://impex.europe-west1.gcp.commercetools.com/playground ) and it's working

[2022-04-22 01:10] lance-rb2 commented on #143
Thanks. I had tested it successfully. It was my fault. You can close this issue

[2022-04-22 01:11] #143 closed, assigned to MicheleRezk

[2022-04-22 06:20] csi-lund commented on #126
@jenschude are there any plans for a similar common interface for the post and delete ApiMethods to enable generic operations in a similar vein to above? Also a common interface for the Updates and their repsective actions - I see a IResourceUpdate IResourceUpdateAction interface but its only applied to IChannelUpdate.

[2022-04-25 16:03] D1mitry opened #151 "Product attribute set as number returns different attributes based on the value"
In our project we have [NumberType ](https://docs.commercetools.com/api/projects/productTypes#numbertype) attribute for the product which could have floating values or integer value. During import we set it as a `NumberAttribute` float numeric value. However inside commercetools it keeps integer values without floating point, even if it was setup like a floating value (example 13.0 would be repres

[2022-04-25 19:23] jenschude commented on #151
The backend preserves the decimal places even if a zero digit had been provided and the SDK correctly deseriales them too:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/487f143b20b15510f346a9946b7fb907bdf1a17e/commercetools.Sdk/Tests/commercetools.Api.Serialization.Tests/AttributesTests.cs#L208-L231

The issue comes from the serialization of the attributes that floating p

[2022-04-25 19:38] tomasz-soltysik commented on #151
Please remember that attribute value can be provided using also
- Merchant Center: seem not preserving `.0`, can't even save if only added it
- Import API: has only [`NumberAttribute`](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.ImportApi/Generated/Models/Productvariants/NumberAttribute.cs) class in SDK. Having only this one cla

[2022-04-26 07:49] D1mitry commented on #151
For type safe attribute values it would be better to have proper type for each attribute instead of object, e.g. `bool` Value for `BooleanAttribute`, `decimal` value for `DecimalAttribute` etc., but for this I guess `IAttribute` interface should be generic like it was in SDK v1.

[2022-04-26 17:49] jenschude commented on #151
Long, Decimal, BoolAttribute etc extend IGenericAttribute<T> with the method GetValue() which returns the value with the correct type.

There are different possible ways to access the attributes too:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/Tests/commercetools.Api.Serialization.Tests/AttributesTests.cs

Still we could also add an extension fu

[2022-04-27 08:22] csi-lund opened #152 "Common interface for update actions and RequestBuilders."
**Is your feature request related to a problem? Please describe.**

Hi commercetools devs! Firstly thanks for great new SDK, like it 👍

I'm in the progress of migrating from v1 to v2 and come across a few situations with the generated models and builders where in v1 I was able to write extensions and execute generic operations using UpdateAction<T> etc.  Now things like the model updates XUpdateAc

[2022-04-28 08:50] jenschude commented on #151
Sadly something like the ToAttribute method would not work correctly for Sets etc

Looking into the issue of the serialization I found out that a decimal `13.0m` will be serialized with the fraction `.0` whereas a double `13.0d` will be serialized as `13`.

To ease the dealing with the different types on deserialization a LongAttribute will get an implicit cast operator to DecimalAttribute and the

[2022-04-28 14:30] gms-commercetools commented on #151
@jenschude Will you let me know how we are going to proceed with this issue - this can be through slack. PS AMER had a call with the customer today and they brought up the issue with us. Thanks

[2022-04-29 08:40] jenschude commented on #151
I just released the 3.1.0. This version adds an option to serialize attributes as decimal only and cast operators for casting from Long to DecimalAttribute and vice versa

Following code shows how to configure the client with this option:

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/4ec449fbda9107ff7393a4e4d16423409991f967/commercetools.Sdk/IntegrationTests/commercetools

[2022-05-17 10:07] NicolasREY69330 opened #155 "Notification event serialization problem on attributes ?"
**Describe the bug**
Hi, I just noticed that when getting "stringified" event from Azure Service Bus after it has been pushed by CT, I got an invalid JSON payload
See example of a `ProductPublished ` type with just the part of the `attributes` having a missing curly brace

[code]

Curiously it seems not to impact the Deserialization (hydrating a typed object) from this string which is strange to m

[2022-05-17 10:19] jenschude commented on #155
The Azure Service Bus instrumented by the API. The issue itself is not related to the SDK. Could you please open a Support Ticket? https://support.commercetools.com

[2022-05-17 10:20] jenschude commented on #155
Or is this happening when serializing an Object instance of ProductPublished?

[2022-05-17 11:37] NicolasREY69330 commented on #155
@jenschude you're right it seems not related to the .net sdk as it's just after I pull the data from ASB.
And as the snippet shows I didn't do anything, just get the body as string and log it.

What I don't understand is why the serializing part (using .net sdk) coming just after is working with a non valid json.
I'm going to check with the logger part, just in debug to see what the string looks l

[2022-05-17 11:46] NicolasREY69330 commented on #155
@jenschude
OK I just tested :
1) the incoming string variable IS a valid Json
2) If I Log it using Serilog : it produces an **invalid** Json
3) if I log it using Console.WriteLine : it produces a valid Json

Apologies for the lost time, the problem is definitively not related to CommerceTools.
I'll have to understand why serilog produces invalid Json now, but it's another story
Thx u anyway

[2022-05-17 12:13] #155 closed

[2022-05-19 16:36] jenschude commented on #117
This should be part of the versions 3.0+

Thx for the report

[2022-05-23 19:25] #117 closed

[2022-05-23 19:25] #151 closed

[2022-05-23 20:08] jenschude commented on #140
As the example shows the SetupClient method returns a IHttpClientBuilder instance and allows all options to configure the client to be created.

I added a test showing the configuration of a proxy in 76a7590

Sorry for the inconvenience of the late answer.

[2022-05-23 20:08] #140 closed

[2022-05-24 06:49] jenschude commented on #95
I added a test with an example to create a TokenProvider for existing tokens.

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/56a04962f074fa583f85bf24823ad993fa057e4c/commercetools.Sdk/Tests/commercetools.Sdk.Api.Tests/ClientsFactoryTests.cs#L77-L105

Sorry for the invonvenience of the late reply.

[2022-05-24 06:49] #95 closed

[2022-05-24 11:03] jenschude commented on #126
With the next release the SDK will include some Interfaces which includes parameters like Sort, Limit etc.

Please see

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/commit/40358f7a8258e56bfe30f5e9d0b9db80535965d9

Manual written ones like ById, ByGet etc will come in a later release

[2022-05-24 11:07] jenschude commented on #152
Updates and their Actions now have a shared interface

https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/pull/157/files

Also the SDK will introduce interfaces with the shared query parameters like Sort, Limit etc. Please see
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/pull/158/files

The ExecuteAsync method is now exposed through the IApiMethod interface

[2022-05-25 08:44] jenschude commented on #126
3.2.0 with this change has been released

[2022-05-25 08:44] #126 closed

[2022-05-25 08:45] jenschude commented on #152
3.2.0 with this change has been released

[2022-05-25 08:45] #152 closed

[2022-05-31 22:06] csi-lund commented on #152
Super! thanks for this.

[2022-06-02 06:23] debwebdanmark commented on #114
Can comfirm that the interfaceText is the field that is shown in Description

[2022-06-29 08:36] #106 closed

[2022-07-01 04:47] csi-lund opened #166 "Mismatch in type"
Hi IBaseResources and their respective updates are using Int64 version numbers.
However the OrderEditApply is still using Int32 which results in a need to convert when applying an order edit. Whilst this is _unlikely_ to ever be an issue, would be nice if they were aligned and I couldn't find reference to a limit on versions 😝!

    public partial interface IOrderEditApply
    {
        int EditVe

[2022-07-02 00:35] csi-lund opened #167 "Missing generated types for OrderCustomLineItem message and payloads"
**Describe the bug**

The api documents outline the following message types, and respective payloads.

But they are not present in the SDK today. Other message types do exist.

**Expected behavior**
These types should exist

**Screenshots/Code snippet**

**Stack information (please complete the following information):**
 - dotnet: [e.g. Core 6.0]
 - SDK: latest, 3.2.0

**Additional context**

[2022-07-14 11:04] codewode opened #169 "Exception logged but not thrown from the ExecuteAsync"
In the implementation of one of my services, I am creating a client that takes an existing token and invokes call for different resources. In-case the token is not valid then an exception is logged, but ExecuteAsync does not throws exception. Whereas, the behaviour  is different if the service instead of creating a new client  injects an existing client then exceptions are logged and thrown also f

[2022-07-14 12:35] jenschude commented on #169
Also i didn't completely understood your problem. I try to give some insights to the SDK client.

The client utilizes a middleware approach. E.g. the Authorization is injected an [AuthorizationMiddleware](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Base.Client/Middlewares/AuthorizationMiddleware.cs). This middleware just adds he Aut

[2022-07-15 23:45] codewode commented on #169
Thanks @jenschude  for your reply. I must admit that I am not a C# expert. I must be doing something differently. Here is my situation and I believe I must be doing something wrong, so I have created a sample project in-case you would like to try that out.

https://github.com/codewode/commercetools-anonym-token

what am I trying to achieve is, everytime a customer requests to create a cart, then i

[2022-07-16 17:37] codewode commented on #169
I certainly missed the point from the docs, after adding SetupClient, it got fixed.

[code]

[2022-07-16 17:37] #169 closed

[2022-07-26 14:37] NicolasREY69330 opened #171 "CartUpdate : setCustomType fail, need guidance to use it"
Hi,

I need to update a custom field on cart entity.
I created the field this way, it works as expected
[code]

Then I set my custom field to a cart this way, it also works as expected
[code]

But when I need to do it in C# (I use the 4.0.0 version of the CT client), it's not clear about what I'm supposed to use as an update action, indeed the Action field is a string, I supposed I need to push a

[2022-07-26 19:23] jenschude commented on #171
You can use the CartSetCustomTypeAction:

[code]

I would also suggest that you use the projectApiRoot to avoid injecting the projectKey at every request.

[2022-07-27 08:33] NicolasREY69330 commented on #171
Hello @jenschude

When I perform the query you suggest (with projectApiRoot  or with the standard commerceToolsClient),

[code]

I get the error :
[code]
I suspect the `Type `or `Fields `properties to be the root cause, but I require your help again.

BWT : is using projectApiRoot  instead commerceToolsClient is for DI convenience only ? I mean there is no impact on performance right ?

Thank you

[2022-07-27 08:46] jenschude commented on #171
Ah sorry. My fault with to much juggling between languages:

[code]

The types should be correctly stated.

And yes the projectApiRoot is a convenience class. There should be no performance impact.

[2022-07-27 09:04] NicolasREY69330 commented on #171
Perfect it works like a charm, thank you

[2022-07-27 09:04] #171 closed

[2022-08-01 11:44] NicolasREY69330 opened #174 "Payment entity : from 4.0.0 to 4.1.0 : missing field"
Hi,

We've just updated my dependencies, and we noticed that for the entity Payment (generated), a field (`AmountAuthorized`) previously available (in 4.0.0) is now missing, 'breaking changing' one of our developer code.

v 4.0.0
https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/413f235581031fd247e87e278ed5ff7c7da449dc/commercetools.Sdk/commercetools.Sdk.Api/Generated/Models/P

[2022-08-01 14:59] jenschude commented on #174
Oh sorry. It should have been gone already with the 4.0.0. There is no replacement field for it as it had been deprecated already when payment endpoint was going out of Beta. Seems that we missed here to add the obsolete attribute.

For similar functionality either use a custom field or store the information in the transactions or interface interactions.

[2022-08-01 15:49] NicolasREY69330 commented on #174
Thank you, we'll see if we can get rid of it in our own process.
I close the ticket for now 👍

[2022-08-01 15:49] #174 closed

[2022-08-24 07:10] carlokok opened #175 "Exception with nested serializiation"
**Describe the bug**

When doing:
[code]

gives me a :
System.InvalidCastException: 'Unable to cast object of type 'commercetools.Sdk.Api.Serialization.JsonConverters.AttributeConverter' to type 'System.Text.Json.Serialization.JsonConverter`1[commercetools.Sdk.Api.Models.Products.NestedAttribute]'.'

**To Reproduce**
Above code, with a post

**Expected behavior**
No error

**Stack information (ple

[2022-08-25 13:49] de-burhan opened #176 "Missing description in lineItem"
**Describe the bug**
LineItem has product name, product key but missing product description

**Expected behavior**
LineItem has LocalizedString description

**Stack information:**
 - dotnet: [e.g. Core 3.0]
 - SDK: [e.g. v2.2]

[2022-08-29 14:49] csi-lund opened #177 "TypedMoneyExtensions AmountToDecimal Fraction Digit handling"
**Describe the bug**

When we migrated out codebase form SDK 1 to 2 we saw several failed tests when using the extension AmountToDecimal.

In SDK 1 the AmountToDecimal factors in  FractionDigits when converting to decimal. [here](https://github.com/commercetools/commercetools-dotnet-core-sdk/blob/33f2e372cc673325a5719fd0cef8c12dd11a57f7/commercetools.Sdk/commercetools.Sdk.Domain/Common/Money.cs#L1

[2022-08-30 13:23] jenschude commented on #177
I just released version 4.2.0 with a fix

Thanks for the report

[2022-08-30 13:23] #177 closed

[2022-08-30 13:43] Tarostar opened #178 "Dotnet SDK v2 Standalone Prices Local to UTC works incorrectly for 12AM"
**Describe the bug**
In `commercetools.Sdk.Api.Client.RequestBuilders.StandalonePrices` when adding stand alone prices using `_client.Api().StandalonePrices().Post(standalonePriceDraft).ExecuteAsync()` I have come across an error with time conversion between local time and UTC time.

I am in Norway/Sweden and so the local time is +2 hours from UTC at the time of testing.

When I store a price draf

[2022-08-30 22:02] csi-lund commented on #177
Thanks for quick turnaround

[2022-08-30 22:07] csi-lund commented on #167
This seems to been resolved in https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/releases/tag/4.1.0

[2022-08-30 22:07] #167 closed

[2022-09-01 13:06] jenschude commented on #178
Uh nice catch.

The underlying issue is that dotnet is missing a Date struct and we used DateTime for this. While serializing a DateTime instance without a timespan was serialized to an date only without considering that a timezone information may apply here too.

I now will introduce a new Date struct to be able to better differentiate between both types and serialize them as needed without the a

[2022-09-01 14:26] Tarostar commented on #178
Great, thanks for letting me know and looking into it so quickly!

[2022-09-02 09:49] jenschude commented on #176
This is not an issue of the SDK as the API is not providing this information. Please see https://docs.commercetools.com/api/projects/carts#lineitem

You can open a feature request for this at our support portal https://support.commercetools.com

[2022-09-02 09:49] #176 closed

[2022-09-02 09:52] jenschude commented on #175
Thanks for the report.

Closing this issue as It has been clarified in this issue already: https://github.com/commercetools/commercetools-dotnet-core-sdk/issues/221

[2022-09-02 09:52] #175 closed

[2022-09-02 09:53] jenschude commented on #166
Thanks for the report.

The fix has been released with v4.1.0

[2022-09-02 09:53] #166 closed

[2022-09-02 09:55] jenschude commented on #114
Closing this issue as it's a mismatch between Merchant Center UI and naming in the docs/SDK

[2022-09-02 09:55] #114 closed

[2022-09-02 09:55] #83 closed

[2022-09-02 10:09] jenschude commented on #178
I just released version 5.0.0 which introduces the new Date struct. Also a slight change in the DateTime deserialization as it's now deserializing to DateTimeKind.UTC. Please let me know if it there is some unwanted side effect with the DateTimeKind. I'm open minded to change this behavior back.

[2022-09-05 06:46] Tarostar commented on #178
I tested and now it works correctly. No new or unexpected behaviour with DateTimeKind so far so all looks good.

Nice job and thanks for the quick turnaround!

[2022-09-21 12:37] csi-lund opened #182 "ProductSelections"
More of question than a bug.

I noticed that the ProductSelections are not available on the projectApiRoot.
I know its a beta feature so just wanted to check if this was intentional?

Thanks in advance!

[2022-09-21 13:05] jenschude commented on #182
Not intentional but the ProjectApiRoot is not automatically generated so it has to be put there. As a workaround you could use:

[code]

[2022-09-22 06:21] csi-lund commented on #182
with() was private iirc - ive just injected the client and projectapiroot together and initalised the apiroot with its key to access it for now

[2022-09-22 09:14] jenschude commented on #182
Thanks 👍

I also made the with method public and released the 5.1.1

[2022-09-22 09:14] #182 closed

[2022-09-26 13:54] csi-lund opened #184 "CustomField Deserialization missing DateTime handling"
When deserializing custom fields registered as CustomFieldDateTimeType they are deserialized to string.

The current [FieldMapperTypeRetriever](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2/blob/master/commercetools.Sdk/commercetools.Sdk.Api/Serialization/MapperTypeRetrievers/FieldMapperTypeRetriever.cs#L32) doesnt seem to handle the datetime, dates and so the [FieldContainerCo

[2022-09-29 08:20] sarvasana opened #185 "Question: why did types such as IMoneyType get an IEnumerable<char> implementation in 4.0.0?"
Why did types such as IMoneyType get an IEnumerable<char> implementation in 4.0.0?
Could you share the design on how you use enums, their interface types and de/serialization?

[2022-09-29 09:10] jenschude commented on #185
The enumerator was added to all Enum interfaces in order to be able to directly assign the value e.g. to a String without using the explicit `.JsonName` property.

[2022-09-29 09:12] jenschude commented on #185
Btw the Enums in the SDK are modelled in a way to be forward compatible in case a new Enum value will be added to the API but the SDK isn't it supporting yet.

[2022-10-03 13:36] #184 closed

[2022-10-12 21:33] wehnertb opened #186 "Example Console App fails with BadRequest"
**Describe the bug**
I build the commercetools.Api.ConsoleApp in commercetools.Sdk\Examples and when I run the app (after providing my credential information (including AuthorizationBaseAddress and ApiBaseAddress) - I get a 404 error.

**To Reproduce**
Put valid credentials into the ClientConfiguration Object, build the app, run the app

**Expected behavior**
I would expect it to connect to my CT

[2022-10-13 07:33] jenschude commented on #186
Could you please try to replace the API call with this block?

[code]

So you get more detailled information about the BadRequest.

[2022-10-13 13:36] wehnertb commented on #186
It looks like I was using an older version of the SDK (3.2) - once I upgraded to 5.1.1 the problem went away and worked as expected.

[2022-10-13 18:37] jenschude commented on #186
Perfect thanks for the update

[2022-10-18 13:54] davidweterings opened #187 "Adding delivery items requires explicit cast"
**Is your feature request related to a problem? Please describe.**
We have to go out of our way to add delivery items to an order using the addDelivery update action using the latest C# SDK.

**Describe the solution you'd like**
For this code to work:

[code]

 But it requires `Items` to be `IEnumerable` instead of `List<IDeliveryItem>`

**Describe alternatives you've considered**

Explicit castin

[2022-10-24 12:11] #186 closed

[2022-10-25 13:27] senj commented on #138
Hi @jenschude , I think the same is still true for the Sort property, also string but array is expected.

[2022-10-25 13:33] jenschude commented on #138
Thanks for the report! Will tackle it

[2022-11-01 10:31] jenschude commented on #138
Released 5.2.0 with the fix

Thanks for reporting @senj

[2022-11-01 10:31] #138 closed

[2022-11-01 17:46] glennsdavis opened #188 "Question About Creating Subscriptions"
IDestination has been obsoleted in the SDK. What replaces Destination when creating a subscription? How would I specify a connection string for an Azure Service Bus for my subscription? Thanks.

public class SubscriptionDraft : ISubscriptionDraft
{
    public List<IChangeSubscription> Changes { get; set; }

    [Obsolete]
    public IDestination Destination { get; set; }

    public string Key { g

[2022-11-01 19:46] jenschude commented on #188
Actually I'm wondering too.

Checking where the annotation came from.

[2022-11-01 20:19] jenschude commented on #188
Released 5.2.1 with a fix. Still investigating why it was marked obsolete.

[2022-11-01 21:07] jenschude commented on #188
After the code is generated we run dotnet format on the codebase. And for some reason this added the link obsolete flag.

[2022-11-01 22:24] glennsdavis commented on #188
Thank you for the quick response.
    On Tuesday, November 1, 2022 at 02:07:30 PM PDT, Jens Schulze ***@***.***> wrote:

After the code is generated we run dotnet format on the codebase. And for some reason this added the link obsolete flag.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-11-03 13:41] jenschude commented on #188
Version 5.2.2 fixed the formatter issue. Should not occur anymore.

Thanks for the report

[2022-11-03 13:41] #188 closed

[2022-11-23 11:04] CollinAlpert commented on #187
I've had problems with this too. I'd really like to understand the reasoning behind having an interface for every model.

[2022-11-28 14:01] jenschude commented on #187
On the other hand converting all List<T> to an IEnumerable<T> would allow the usage of Arrays, Collections as well as Lists. Will have to check how they would be deserialized. Also this would mean it's a backwards incompatible change.

[2022-11-28 14:40] CollinAlpert commented on #187
The reason that works is because `IEnumerable`'s type parameter is [marked as covariant](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/IEnumerable.cs#L7), while `List`'s generic type [is not](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Collections/Generic/List.cs#L21).

A better soluti

[2022-11-28 19:24] jenschude commented on #187
We explicitly decided against a read only API. In the JVM v1 SDK this lead to issues when reusing this code to create updates based on diffs.

It would be more a decision about ienumerable, list/ilist or additional setter property to improve the DX.

[2022-11-29 06:30] CollinAlpert commented on #187
Sorry, my wording was a bit misleading. By "read only" I meant the actual collection. Once created, you can't add or remove. Of course you are always free to set the entire collection.

This is also the case with IEnumerable. You can't add or remove elements, you need to create a new one.

Creating diffs works great using this approach and LINQ.